# Virtual environment
venv/

# Python cache files
__pycache__/

# Compiled Python files
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook files
*.ipynb_checkpoints/

# macOS
.DS_Store